.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#stars .star {
  font-size:"70px";
}

.star {
  font-size:"70px";
}

#numbers-panel .number {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  margin-top:2px;
  margin-bottom: 2px;
  width:50px;
  text-align: center;
  font-size: 35px;
  border-radius: 50%;
  background-color: #bbb;
  cursor:pointer;
}

#numbers-panel .number.confirmed {
  cursor:not-allowed;
  background-color: #5cb85c;
  color:#fff;
  opacity: 0.5;
}
